# Build
build/
vcpkg/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
*.cmake
*.make
*.sln
*.vcxproj*
*.user
*.obj
*.o
*.exe
*.dll
*.pdb

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
vcpkg_assimp_install.log
cmake_version.log
configure_output.txt
cmake_config.log
.gitignore
configure.log
cmake_full.log
.vcpkg_binary_cache
vcpkg
BUILD_OPTIMIZATION.md
vcpkg
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitclone-lastrun.txt
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitinfo.txt
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-patch-info.txt
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-update-info.txt
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-build
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-configure
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-done
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-download
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-install
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-mkdir
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-patch
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/Debug/catch2-populate-test
build-vs/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-cfgcmd.txt
build-vs/_deps/catch2-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build-vs/_deps/catch2-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build-vs/_deps/catch2-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/catch2-populate/catch2-populate.recipe
build-vs/_deps/catch2-subbuild/x64/Debug/catch2-populate/catch2-populate.tlog/catch2-populate.lastbuildstate
build-vs/_deps/catch2-subbuild/x64/Debug/catch2-populate/catch2-populate.tlog/CustomBuild.command.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/catch2-populate/catch2-populate.tlog/CustomBuild.read.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/catch2-populate/catch2-populate.tlog/CustomBuild.write.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build-vs/_deps/catch2-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build-vs/_deps/catch2-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build-vs/_deps/entt-build/entt.pc
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/entt-populate-gitclone-lastrun.txt
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/entt-populate-gitinfo.txt
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/entt-populate-patch-info.txt
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/entt-populate-update-info.txt
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-build
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-configure
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-done
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-download
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-install
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-mkdir
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-patch
build-vs/_deps/entt-subbuild/entt-populate-prefix/src/entt-populate-stamp/Debug/entt-populate-test
build-vs/_deps/entt-subbuild/entt-populate-prefix/tmp/entt-populate-cfgcmd.txt
build-vs/_deps/entt-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build-vs/_deps/entt-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build-vs/_deps/entt-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/entt-populate/entt-populate.recipe
build-vs/_deps/entt-subbuild/x64/Debug/entt-populate/entt-populate.tlog/CustomBuild.command.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/entt-populate/entt-populate.tlog/CustomBuild.read.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/entt-populate/entt-populate.tlog/CustomBuild.write.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/entt-populate/entt-populate.tlog/entt-populate.lastbuildstate
build-vs/_deps/entt-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build-vs/_deps/entt-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build-vs/_deps/entt-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
vcpkg
vcpkg
vcpkg
HEADLESS_TEST.md
TROUBLESHOOTING.md
SDL2_MIGRATION.md
err.log
out.log
Tools/Procdump.zip
out_debug2.log
out_debug3.log
out_forced_vulkan_debug.log
out_forced_vulkan.log
out_triangle.log
out_cli_triangle.log
out_cli_triangle2.log
